/* ----------Home Page---------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(portfolio/longhorn_symbol.jpg);
    background-position: left;
    background-size: cover;

}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(191, 87, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.25s
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 100px;
    margin-top: 20px;
}

/* ----------About---------- */

#about{
    margin-top: 80px;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 30%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;

}

.about-col-2 p{
    line-height: 1.5;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(191, 87, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.25s
}

.tab-links:hover::after{
    width: 100%;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    font-size: 20px;
    color: rgb(191, 87, 0);
    font-weight: 100px;
}

.tab-contents{
    display: none;
}

#skills.tab-contents.active-tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tab-contents.active-tab{
    display: block;

}
/* ----------Project Experience---------- */

.exp_container{
    display: flex;
}

.work-list{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    flex-direction: column;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    margin-top: 50px;
    padding: 20px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    transition: transform 0.3s;
}

.work-desc-list{
    margin-top: 50px;
    width: 60%;
    padding: 20px;
}

.layer{
    width: 100%;
    height: 0px;
    background: linear-gradient(rgba(0,0,0,0.1), rgb(191, 87, 0));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.layer h3{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.work.active-work .layer{
    width: 100%;
    height: 100%;
}

.desc{
    display: none;
}

.desc.active-desc{
    display: block;
}

/* ---------- Contact Me ---------- */

.contact-left.sub-title{
    position: relative;
}

.contact-left.email{
    position: absolute;
    margin-top: 50%;
}

/* ---------- CSS for Small Screens ---------- */

@media only screen and (max-width: 1000px){
    #header{
        background-image: url(portfolio/longhorn_symbol.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;

    }
    .work-desc-list{
        margin-top: 50px;
        width: 60%;
        padding: 0px;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);     
        flex-direction: column;   
        grid-row-gap: 20px;
        grid-column-gap: 10px;
        padding: 20px;
        height: 50%;
        width: 30%;
    }
    .layer{
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
}
    .layer h3{
        font-weight: 600;
        font-size: 10px;
        margin-bottom: 20px;
}
}

